:root {
    --main-color-black: #000;
    --main-bg-grayExtraLight:#f5f5f5;
    --main-color-white: #fff;
    --main-color-gray: #959DAD;
    --main-color-concreteLandscape: #59606D;
    --main-color-umbra: #1f1f1f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

header {
    background: var(--main-color-white);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    border-radius: 0 0 8px 8px;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 16px 0;
}

.header_cart {
    position: relative;
    cursor: pointer;
}

.header_cart span {
    background-color: var(--main-color-gray);
    position: absolute;
    width: 12px;
    height: 12px;
    display: block;
    text-align: center;
    right: 0;
    top: 0;
    bottom: 100%;
    font-size: 8px;
    color: var(--main-color-white);
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    padding-top: 32px;
    gap: 49px;
}

aside {
    max-width: 160px;
}

.content {
    width: 100%;
}

.navbar {
    list-style: none;
}

.navbar__item {
    display: block;
    padding: 12px 0;
    text-decoration: none;
    color: var(--main-color-gray)
}

.navbar__item:not(.navbar__item_active):hover {
    color: var(--main-color-concreteLandscape);
}

.navbar__item_active {
    text-decoration: underline;
    color: var(--main-color-umbra);
}

.cards__header {
    display: flex;
    justify-content: flex-end;
}

.cards__filter {
    padding: 10px 0;
}

.filter {
    padding: 10px 0;
    color: var(--main-color-umbra);
    position: relative;
}

.filter__label {
    margin-bottom: 10px;
}

.filter__label span {
    color: var(--main-color-gray);
    font-size: 16px;
    cursor: context-menu;
}

.filter:hover .filter__dropdown {
    display: block;
}

.filter__dropdown {
    position: absolute;
    background-color: var(--main-color-white);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    list-style: none;
    padding: 8px 0;
    right: 0;
    display: none;
    z-index: 2;
}

.filter__dropdown__item {
    padding: 4px 12px;
    color: var(--main-color-gray);
    cursor: pointer;
}

.filter__dropdown__item :hover {
    background-color: var(--main-bg-grayExtraLight);
    color: var(--main-color-umbra);
}

.cards__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
}

.cards__items .item {
    max-width: 264px;
    padding: 10px 16px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    background-color: var(--main-color-white);
    position: relative;
}

.cards__items .item .item__header {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 16px;
}

.cards__items .item .item__image {
    width: 100%;
    height: 180px;
    object-fit: contain;
    display: block;
}

.cards__items .item .item__title {
    font-size: 14px;
    color: var(--main-color-concreteLandscape);
    margin-bottom: 6px;
}

.cards {
    font-size: 14px;
    font-weight: bold;
    color: var(--main-color-umbra);
}

.modal {
    background-color: #ffffff80;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    top: 0;
    display: none;
}

.modal__active {
    display: block;
}

.modal .cart {
    max-width: 460px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    right: 0;
    box-shadow: -4px 0 16px rgba(0, 0, 0, 0.05);
    border-radius: 8px 0 0 8px;
    padding: 52px 48px;
}

.modal .cart__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    font-size: 32px;
    font-weight: 700;

}

.modal .cart__header img {
    padding: 10px;
    cursor: pointer;
}

.modal .cart__body {
    display: flex;
    flex-direction: column;
}

.modal .cart__empty{
    font-size: 22px;
    margin: 24px 0;
}

.btn {
    border: none;
    background-color: var(--main-color-umbra);
    border-radius: 8px;
    color: var(--main-color-white);
    padding: 14px 18px;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--main-color-concreteLandscape);
}

